<header>
  <h1><%- imeStranice %></h1>
  <nav>
    <ul>
      <li><a href="#">jfhsjdkfhjkd</a></li>
      <li><a href="#">jfhsjdkfhjkd</a></li>
      <li><a href="#">jfhsjdkfhjkd</a></li>
      <li><a href="#">jfhsjdkfhjkd</a></li>
    </ul>
  </nav>
</header>
